.title {
  text-align: center;
  background-color: #fafa3c;
  margin: 0;
  padding: 2%;
}

.episodes {
  display: flex;
  flex-wrap: wrap;

  background-color: snow;
}

.paginator {
  background-color: snow;
  font-size: 14px;
  padding: 3%;
  color: black;
}
